.container {
    width: 50%;
    margin: 0 auto;
}

h1, h2, h3, label, button  {
    font-family: 'Jost', sans-serif;
    text-align: center;
}


form {
    display: flex;
    justify-content: space-evenly;
}

img {
    width: 100%;
    display: block;
}