.container {
    width: 50%;
    margin: 0 auto;
}

h1, h2, h3, label, button  {
    font-family: 'Jost', sans-serif;
    text-align: center;
}


form {
    display: flex;
    justify-content: space-evenly;
}

img {
    width: 100%;
    display: block;
}

.blue {
    color: #0197d8
}

.red {
    color: #be0835
}

.yellow {
    color: #f0cf0d
}